@tailwind base;
@tailwind components;
@tailwind utilities;



.trunck-text{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
 }

 
.footerCityImg {
    position: relative;
    right: 0%;
    animation-name: citymoves;
    animation-duration: 100s;
    animation-iteration-count: infinite;
}


.bannerMockup {
    position: relative;
    right: 0%;
    top: -30%;
    animation-name: bannerMockupAninmate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.bannerMockup2 {
    position: relative;
    right: 0%;
    bottom: -30%;
    animation-name: bannerMockupAninmate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

div,
p,
input,
textarea,
img,
body,
hr {
    @apply transition-all duration-300 ease-in-out
}

Image {
    @apply pointer-events-none
}

/* .bannerImg{
    background-image: url('../../public/images/pngegg.png');
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
} */

.bgImg {
    background-image: url('../../public/images/driver-job-description.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgAbt1 {
    background-image: url('../../public/images/taxi-safety.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.bgAbt2 {
    background-image: url('../../public/images/passenger-chatting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgAbt3 {
    background-image: url('../../public/images/in-cab.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.black-bg{
    background-image: url('../../public/images/Whitebbg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bgaboutImg {
    background-image: url('../../public/images/drive.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.blogImg{
    background-image: url('../../public/images/technology-coffee-internet-beverage-cafe-data-concept.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
}

.abtBg {
    background-image: url('../../public/images/unsplash.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position:left left left ;
}

.banner {
    background-image: url('../../public/images/Herobg.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;


}

.faqBanner{
    background-image: url('../../public/images/in-cab.jpg');
    background-repeat: repeat;
    background-size: cover;
}

.BecomeRider{
    background-image: url('../../public/images/Becomearider.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

.testimonyBg{
    background-image: url('../../public/images/atlas.png');
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* passenger-chatting */

/* The animation code */
@keyframes citymoves {
    0% {
        right: 30%;
    }

    20% {
        right: 0%;
    }

    40% {
        right: 30%;
    }

    60% {
        right: 0%;
    }

    80% {
        right: 30%;
    }

    100% {
        right: 0%;
    }
}


@keyframes bannerMockupAninmate {
    0% {
        top: -30%;
    }

    20% {
        top: 0%;
    }

    40% {
        top: 30%;
    }

    60% {
        top: 0%;
    }

    80% {
        top: -30%;
    }

    100% {
        top: 0%;
    }
}

@keyframes bannerMockupAninmate2 {
    0% {
        bottom: -30%;
    }

    20% {
        bottom: 0%;
    }

    40% {
        bottom: 30%;
    }

    60% {
        bottom: 0%;
    }

    80% {
        bottom: -30%;
    }

    100% {
        bottom: 0%;
    }
}